<?xml version="1.0" ?>
<scene>
	<group>
        <models>
		  <model file='box.3d' />
        </models>
	</group>
	<group>
        <models>
    	   <model file='sphere.3d' />
        </models>
    </group>
    <group>
        <models>
    	   <model file='plane.2d' />
        </models>
    </group>
    <group>
        <models>
    	   <model file='cone.3d' />
        </models>
    </group>
    <group>
        <models>
    	   <model file='ruby.3d' />
        </models>
    </group>
    <group>
        <models>
           <model file='crown.2d' />
        </models>
    </group>
</scene>
